#sgfCatDiv {
    margin-top: 20px;
    margin-left: 40px;
}

#sgfCatChecks > div {
    margin-top: 20px;
}

#sgfCatChecks input[type="checkbox"] {
    margin-right: 4px;
}


#controlDiv {
    margin-top: 20px;
    text-align: center;
}

#boardDiv {
    max-width: 680px;
    margin: auto;
    margin-top: 20px;
}

.besogo-container {
    background-color: transparent;
}


#infoDiv {
    margin-top: 100px;
    font-size: 30px;
}